
<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">


        <form [formGroup]="uploadForm" >
          <div *ngIf="currentFile" class="progress">
            <div
              class="progress-bar progress-bar-info progress-bar-striped"
              role="progressbar"
              attr.aria-valuenow="{{ progress }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: progress + '%' }"
            >
              {{ progress }}%
            </div>
          </div>

          <label class="btn btn-default" >
            <input style="display: block;margin-left: auto;margin-right: auto;width: 100%;"
            type="file" accept="image/*" (change)="selectFile($event)" />
          </label>

          <button class="btn btn-success" style="display: block;margin-left: auto;margin-right: auto;width: 100%;" [disabled]="!selectedFiles" (click)="upload()">
            Upload
          </button>
         <!-- <button style="position: absolute;left: 90%;right: auto;" type="submit" mat-button color="primary">
            Done
          </button>-->
          <div class="alert alert-light" role="alert" style="display: block;margin-left: auto;margin-right: auto;width: 100%;">{{ message }}</div>
          <div class="card">
            <div class="card-header">Preview</div>
              <!-- Image Preview -->
              <div  class="imagePreview" >
                <img style="display: block;margin-left: auto;margin-right: auto;width: 100%;"
                 *ngIf="imageURL && imageURL !== ''" [src]="imageURL" [alt]="uploadForm.value.name">
              </div>
          </div>

        </form>
    </div>
  </div>
</div>
