﻿<div class="card">
  <div class="card-header">
    Personal Informations
  </div>
  <div class="card-body">
    <div class="container-fluid">
<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div class="text-center" *ngFor="let question of questions" class="form-row">
      <app-question style="display: block;margin-left: auto;margin-right: auto;width: 50%;"
      [question]="question" [form]="form"></app-question>
    </div>

    <div class="form-row">
      <button style="display: block;margin-left: auto;margin-right: auto;width: 10%;"
       mat-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>

  <!--<div style="display: block;margin-left: auto;margin-right: auto;width: 50%;"
   *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>-->
</div>

</div>
</div>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
